@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.footer {
  width: 100%;
  background: linear-gradient(135deg, #ff3f7a, #ff8fb3);
  color: white;
  padding: 50px 20px 20px;
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 40px;
}

.footer-logo h2 {
  margin-bottom: 10px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}