@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 80px;
  background-color: #a8d8ff;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 1000;
}

.navbar .levaStrana {
  display: flex;
  align-items: center;
}

.navbar .levaStrana img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar .levaStrana img:hover {
  transform: scale(1.05);
}

.navbar .desnaStrana {
  display: flex;
  align-items: center;
}

.navbar .desnaStrana a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.navbar .desnaStrana a:hover {
  color: #fff;
  transform: scale(1.05);
}

.navbar .desnaStrana button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none; 
}

.hiddenLinks {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  background-color: #6495ED; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;

  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 999;
}

.navbar #open .hiddenLinks {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hiddenLinks a {
  margin: 15px 0;
  font-size: 18px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

.hiddenLinks a:hover {
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}


@media only screen and (max-width: 900px) {
  .navbar .levaStrana {
    padding-left: 15px;
  }

  .navbar .desnaStrana a {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .desnaStrana a {
    display: none;
  }

  .navbar .desnaStrana button {
    display: block;
  }

  .hiddenLinks {
    display: flex;
  }
}

@media only screen and (min-width: 601px) {
  .hiddenLinks {
    display: none !important;
  }
}