@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar {
  width: 100%;
  height: 80px;
  background-color: #a8d8ff;
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
}

/* LEVA STRANA */
.navbar .levaStrana {
  flex: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar .levaStrana img {
  margin: 5px;
  width: 80px;
  height: 80px;
}

/* DESNA STRANA */
.navbar .desnaStrana {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin: 30px;
  font-size: 18px;
}

/* HAMBURGER DUGME */
.navbar .desnaStrana button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .desnaStrana svg {
  font-size: 40px;
  margin: 20px;
}

/* DROPDOWN MENI */
.hiddenLinks {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  background-color: cornflowerblue;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;

  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;
}


/* KAD JE OTVOREN */
.navbar #open .hiddenLinks {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


/* LINKOVI U DROPDOWNU */
.hiddenLinks a {
  margin: 15px 0;
  font-size: 18px;
}

/* TABLET */
@media only screen and (max-width: 900px) {
  .navbar .levaStrana {
    padding-left: 30px;
  }

  .navbar a {
    margin: 15px;
  }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .navbar .desnaStrana a {
    display: none;
  }

  .navbar .desnaStrana {
    justify-content: flex-end;
    padding-right: 30px;
  }

  .navbar .desnaStrana button {
    display: block;
  }
}

/* DESKTOP */
@media only screen and (min-width: 600px) {
  .navbar .desnaStrana button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
